<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <% if(type == 0){ %>
            <%- include('../partials/sellerHeader'); %>
    <% } else { %>
            <%- include('../partials/buyerHeader'); %>
    <% } %>
    
</header>

<main>

    <div class="bg-light ">
        <div class="d-flex justify-content-center">
            <img class="mt-5"src="/images/logo1.svg" width="90" height="90" alt="">
        </div>
        <% if(type == 0){ %>
            <div class="container text-center text-secondary">
                <p>Dentro de este apartado podrás revisar los productos <br> de tu Negocio.
                </p>
            </div>
        <% } %>
        <% if(type == 1){ %>
            <div class="container text-center text-secondary">
                <p>Descubre la variedad de productos que esta tienda <br> tiene para tí.
                </p>
            </div>
        <% } %>
        <% if(type == 2){ %>
            <div class="container text-center text-secondary">
                <p>Descubre los productos de otros comerciantes y mejora <br> tu negocio.
                </p>
            </div>
        <% } %>
        <div class="bg-white">
                <div class="bg-light ">
                    <div class="bg-white">
                        <br>
                        <br>
                        <h4 class="ml-5 mb-5"> Lista de productos</h3>
                            <div class="row d-flex justify-content-center bg-white">
                                <% products.forEach(function(product) { %>
                                    <div class="card mr-5 mb-5" style="width: 18rem;">
                                        <img class="card-img-top" src="/images/<%= product.img %>" alt="Card image cap">
                                        <div class="card-body">
                                            <h5 class="card-title"><strong><%= product.name %></strong></h5>
                                            <h4 class="card-title">$<strong><%= product.price %></strong></h4>
                                            <p class="card-text"><%= product.description %></p>
                                            <% if(type == 0){ %>
                                                <a href="/users/ModifyProduct/<%= product.id %>" class="btn btn-primary">Modificar Producto</a>
                                            <% } %>
                                            <% if(type == 1){ %>
                                                <a href="/users/Product/<%= product.id %>" class="btn btn-primary">Ver Producto</a>
                                            <% } %>
                                        </div>
                                    </div>
                                <% }); %>
                            </div>
                    </div>
                    
                </div>

        </div>
        
    </div>
    <!--Modal-->
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Publica un producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form class="was-validated" onsubmit='return registerProduct(this, event);' method='post'>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Nombre del producto</label>
                        <input id="name" type="text" class="form-control" id="recipient-name" required>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Descripción</label>
                        <textarea id="description" class="form-control" id="message-text" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Precio (MXN)</label>
                        <input id="price" type="number" class="form-control" id="recipient-name" required>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Stock inicial (Número de unidades disponibles)</label>
                        <input id="stock" type="number" class="form-control" id="recipient-name" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Categoría</label>
                        <select id="category" class="form-control" id="exampleFormControlSelect1">
                            <option value="1">Electrónicos</option>
                            <option value="2">Calzado</option>
                            <option value="3">Artículos para el hogar</option>
                            <option value="4">Herramientas</option>
                            <option value="5">Artículos para mascota</option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="exampleFormControlFile1">Foto 1</label>
                            <div class="custom-file">
                                <input id="img1" type="file" class="custom-file-input" id="validatedCustomFile" required>
                                <label class="custom-file-label" for="validatedCustomFile">Elija una foto...</label>
                                <div class="invalid-feedback">Debe seleccionar una foto</div>
                            </div>
                        </div>
                        <div class="col form-group">
                            <label for="exampleFormControlFile1">Foto 2</label>
                            <div class="custom-file">
                                <input id="img2" type="file" class="custom-file-input" id="validatedCustomFile" required>
                                <label class="custom-file-label" for="validatedCustomFile">Elija una foto...</label>
                                <div class="invalid-feedback">Debe seleccionar una foto</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label for="exampleFormControlFile1">Foto 3</label>
                            <div class="custom-file">
                                <input id="img3" type="file" class="custom-file-input" id="validatedCustomFile" required>
                                <label class="custom-file-label" for="validatedCustomFile">Elija una foto...</label>
                                <div class="invalid-feedback">Debe seleccionar una foto</div>
                            </div>
                        </div>
                        <div class="col form-group">
                            <label for="exampleFormControlFile1">Foto 4</label>
                            <div class="custom-file">
                                <input id="img4" type="file" class="custom-file-input" id="validatedCustomFile" required>
                                <label class="custom-file-label" for="validatedCustomFile">Elija una foto...</label>
                                <div class="invalid-feedback">Debe seleccionar una foto</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="addProduct">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Publicar producto</button>
                    </div>
                </div>
            </form>
        </div>
    </div> -->
</main>
<footer>
    <%- include('../partials/footerSeller'); %>
</footer>
</body>
</html>


<style lang="css">
    #misproductos{
        text-align: center;
    }

    #productoboton{
        text-align: center;
        padding-top: 3%;
    }
</style>